.wrapper{
    position: relative;
    padding: 0px 20px 100px;
}
.heroes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
}
.heroes li{
    height: 300px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    break-inside: avoid;
}
.heroes li div{
    position: relative;
    height: 100%;
    display: flex;
}
.heroes li div span{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
.heroes li div img{
    transition: 0.8s;
}
.heroes li:hover div img{
    transform: scale(1.1);
}
